
    <nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
        <a class="navbar-brand" href="#">OShare</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
      
        <div class="collapse navbar-collapse" id="navbarsExampleDefault">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
              <a class="nav-link" routerLink="/">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" routerLink="/shopping-cart">
                Shopping Cart
                <span class="badge badge-pill badge-success">{{shoppingCartCounter}}</span>

              </a>
            </li>
            <ng-template #anonymouseUser>
              <li  class="nav-item">
                <a class="nav-link" routerLink="/login">Login</a>
              </li>
            </ng-template>
           
            <li  ngbDropdown *ngIf="appUser ; else anonymouseUser"  class="nav-item dropdown">
              <a  ngbDropdownToggle class="nav-link dropdown-toggle" id="dropdown01" data-toggle="dropdown"
               aria-haspopup="true" aria-expanded="false">
                  {{appUser.name}}  
              </a>
              <div ngbDropdownMenu  class="dropdown-menu" aria-labelledby="dropdown01">
                  <ng-container *ngIf="appUser.isAdmin">
                    <a ngbDropdownItem class="dropdown-item" routerLink="/admin/products">Manage Products</a>
                    <a  ngbDropdownItem class="dropdown-item" routerLink="/admin/orders">Manage Orders</a>
                  </ng-container>
                <a  ngbDropdownItem class="dropdown-item" routerLink="/my/orders">My Orders</a>
                <a  ngbDropdownItem class="dropdown-item" (click)="logOut()">LogOut</a>
              </div>
            </li>
          </ul>
        </div>
      </nav>